.DS_Store
.venv
.idea
__pycache__
/shop/dbdata/*
General**

/shop/src/*
!/shop/src/
!/shop/src/themes/*
!/shop/src/modules/*
!/shop/src/config/*
!/shop/src/img/*

/shop/back-src/*
!/shop/back-src/
!/shop/back-src/.gitkeep
